<a href="https://colab.research.google.com/github/cigarsOfThePharaoh/kaggle-janestreet-challenge/blob/main/Kaggle_JaneStreet_Setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up for Jane Street Kaggle competition

## Install Kaggle API
We need to force upgrade when installing to get the newest version.

In [12]:
!pip install --upgrade --force-reinstall --no-deps kaggle

Collecting kaggle
  Downloading https://files.pythonhosted.org/packages/99/33/365c0d13f07a2a54744d027fe20b60dacdfdfb33bc04746db6ad0b79340b/kaggle-1.5.10.tar.gz (59kB)
     |████████████████████████████████| 61kB 3.4MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.10-cp36-none-any.whl size=73269 sha256=00b9aab5abb31e2cac76461ea813f34811c8afac22a62400416591d844b645dd
  Stored in directory: /root/.cache/pip/wheels/3a/d1/7e/6ce09b72b770149802c653a02783821629146983ee5a360f10
Successfully built kaggle
Installing collected packages: kaggle
  Found existing installation: kaggle 1.5.10
    Uninstalling kaggle-1.5.10:
      Successfully uninstalled kaggle-1.5.10
Successfully installed kaggle-1.5.10

## Upload Kaggle API token
Get API token from account page (it's a json file), then run the following code to upload it to Colab.

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 69 bytes

## Get Data

In [13]:
!kaggle competitions list

ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes        115           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        219           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        335           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2863           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      22028            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       5724            True
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        491           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1523           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos       9844           False
ranzcr-clip-catheter-line-classification       2021-03-15 23:59:00  Featured           $50,000         10           False
jane-street-market-prediction                  2021-02-22 23:59:00  Featured          $100,000       1174            True
cassava-leaf-disease-classification            2021-02-18 23:59:00  Research           $18,000       1411           False
rfcx-species-audio-detection                   2021-02-17 23:59:00  Research           $15,000        464           False
acea-water-prediction                          2021-02-17 23:59:00  Analytics          $25,000          0           False
rock-paper-scissors                            2021-02-01 23:59:00  Playground          Prizes       1111           False
hubmap-kidney-segmentation                     2021-02-01 23:59:00  Research           $60,000        486           False
santa-2020                                     2021-02-01 23:59:00  Featured            Prizes        357           False
riiid-test-answer-prediction                   2021-01-07 23:59:00  Featured          $100,000       2723           False
predict-volcanic-eruptions-ingv-oe             2021-01-06 23:59:00  Playground            Swag        445           False
kaggle-survey-2020                             2021-01-06 23:59:00  Analytics          $30,000          0           False

In [14]:
!kaggle competitions download -c jane-street-market-prediction

Downloading jane-street-market-prediction.zip to /content
100% 2.62G/2.63G [00:25<00:00, 37.9MB/s]
100% 2.63G/2.63G [00:25<00:00, 111MB/s]

In [15]:
!unzip jane-street-market-prediction.zip

Archive:  jane-street-market-prediction.zip
  inflating: example_sample_submission.csv
  inflating: example_test.csv
  inflating: features.csv
  inflating: janestreet/__init__.py
  inflating: janestreet/competition.cpython-37m-x86_64-linux-gnu.so
  inflating: train.csv

In [18]:
import pandas as pd

In [26]:
example_submission = pd.read_csv('example_sample_submission.csv')
example_test = pd.read_csv('example_test.csv')
features = pd.read_csv('features.csv')
train_data = pd.read_csv('train.csv', iterator=True)

In [20]:
example_submission.head()

   ts_id  action
0      0       1
1      1       1
2      2       1
3      3       1
4      4       1

In [21]:
example_test.head()

      weight  feature_0  feature_1  ...  feature_129  date  ts_id
0   0.000000          1  -1.872746  ...    11.445807     0      0
1  16.673515         -1  -1.349537  ...     1.898684     0      1
2   0.000000         -1   0.812780  ...     9.427299     0      2
3   0.000000         -1   1.174378  ...     1.013469     0      3
4   0.138531          1  -3.172026  ...     3.926633     0      4

[5 rows x 133 columns]

In [22]:
features.head()

     feature  tag_0  tag_1  tag_2  ...  tag_25  tag_26  tag_27  tag_28
0  feature_0  False  False  False  ...   False   False   False   False
1  feature_1  False  False  False  ...   False   False   False   False
2  feature_2  False  False  False  ...   False   False   False   False
3  feature_3  False  False  False  ...   False   False   False   False
4  feature_4  False  False  False  ...   False   False   False   False

[5 rows x 30 columns]

In [27]:
chunk = train_data.get_chunk(5)

In [28]:
chunk

   date     weight    resp_1  ...  feature_128  feature_129  ts_id
0     0   0.000000  0.009916  ...     2.301488    11.445807      0
1     0  16.673515 -0.002828  ...    -1.304614     1.898684      1
2     0   0.000000  0.025134  ...     6.638248     9.427299      2
3     0   0.000000 -0.004730  ...     3.856384     1.013469      3
4     0   0.138531  0.001252  ...     0.362636     3.926633      4

[5 rows x 138 columns]